/* About.css */
.about-container {
    padding: 20px;
  }
  
  .contact-section, .connect-section, .map-section {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .contact-section h2, .connect-section h2, .map-section h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .connect-section p a {
    text-decoration: none;
    color: #4b6cb7;
  }
  .contactImage{
    height: 100%;
    width: auto;
  }
  .map{
    
  }
  @media screen and (max-width: 768px) {
    .contact-section h2, .connect-section h2, .map-section h2 {
      font-size: 24px;
    }
  }
  