.heading{
    text-align: center;
    padding-top: 20px;
}
.image{
   width: 100%;
   object-fit: cover;
   
}
.banner{
   background-image: url('image/banner.jpg') ;
   height: 250px;
   /* z-index: 2; */
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;

}
.button1{
     /* background-color:#e67e70 !important;   */
     color: white !important;
     font-weight: 600 !important;
     border: 2px solid black !important;
}
.text p{
    padding: 10px;
    text-align: justify;
}

.card1{
  /* border: 2px solid black !important ; */
  box-shadow: -4px 7px 13px 0px rgba(0,0,0,0.75);
  height: 180px;
  transition: transform 0.3s ease;
}
.card1:hover{
    transform: scale(1.05);
}
.card1 a{
    text-decoration: none;
}
.box-content{
  height: 100%;
}
.box-content i{
   font-size: 40px;
   padding-top: 40px ;
   padding-bottom: 8px ;
   display: flex;
   justify-content: center;
   color: black;
}
.box-content h4{
    color: black;
    text-decoration: none;
    text-align: center;
}
#box1{
    background-color: lightcoral;
}
#box2{
    background-color: lightgreen;
}
#box3{
    background-color: lightskyblue;
}
#box4{
    background-color: lightyellow;
}
#box5{
    background-color: lightsalmon;
}
#box6{
    background-color: lightpink;
}
#box7{
    background-color: lightseagreen;
}
#box8{
    background-color: lightgray;
}
#box9{
    background-color: lightgoldenrodyellow;
}
main{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
/* info */
.heading3{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
}
.info{
    text-align: center;
    padding-top: 20px;
}
.info i{
    font-size: 40px;
    color: #4b6cb7;
    margin-bottom: 20px;
}
.info h{
    font-size: 20px;
}
@media screen and (max-width:450px){
    .iconDes{
        display: none;
    }
    .card1{
       width: 90%;
    }
}

/* @media screen and (min-width:400px) and (max-width: 500px) {
    .fa-person {
        margin-top: 4px;
        margin-left: -80px;
        font-size: 12px;
        display: none;
    }
    .connect1{
        width: 180px;
        margin-top: 5px;
        margin-left: -86px;
        font-size: 12px;
        display: none;
    }
    .login1{
        font-size: 14px;
        margin-left: 0px;
    }
    .register1{
        font-size: 14px;
        margin-left: 60px;
        width: 100px;
    }
    .fa-right-to-bracket{
        margin-left: 280px;
    }
    .fa-users-line{
        margin-left: -24px;
    }
  }@media screen and (min-width:200px) and (max-width: 500px) {


  } */