.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Adjust the z-index to be above other content */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Ensure content is above the overlay */
  }
  .submitPop{
    text-align: right;
  }
  .closePop{
    text-align: left;
  }
  .radioSelect{
    font-size:large ;
    text-transform: uppercase;
  }
  
  @media screen and (max-width:400px){
    .popup-overlay{
        padding: 0;
        position: relative;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 10px; /* Reduce margin between form groups */
    }
    
    .form-control {
        width: 100%; /* Set input width to 100% */
    }
    
  }
  